<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Reboot America" %></title>

  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>

  <!-- Typekit embed -->
  <script type="text/javascript" src="//use.typekit.net/yyh1wtb.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <!-- end Typekit -->

  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>
<body>

    <nav>
      <div class="wrap">
        <%= render 'layouts/navigation' %>
      </div>
    </nav>

    <div class="summit-header">
      <div class="wrap">
        <div style="text-align:right; display:inline-block; width:490px; margin-right:1em;">
          <h3>You're invited to the Reboot America Summit</h3>
          <aside>Where the hottest startups are changing America</aside>
          <time>November 8 and 9, Washington, DC</time>
        </div>
        <a href="/the-summit" class="btn primary" style="margin-right:.5em;">Register Now<span>Come Reboot America</span></a>
        <a href="http://patriotic.ly" class="btn alternate">Apply to pitch<span>Your startup or innovative idea</span></a>
      </div>
    </div> 

    <div class="main">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>

      <%= yield %>
    </div>

    <footer>
      <div class="wrap">
        <%= render 'layouts/footer' %>
      </div>
    </footer> 

</body>
</html>
