<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Reboot America" %></title>

  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>

  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>
<body>

    <nav>
      <div class="wrap">
        <%= render 'layouts/navigation' %>
      </div>
    </nav>

    <div class="main">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>

      <%= yield %>
    </div>

    <footer>
      <div class="wrap">
        <%= render 'layouts/footer' %>
      </div>
    </footer> 

</body>
</html>
